@import url("styles/header.css");

:root{
    --cor-de-fundo:#dadada;
    --cor-do-texto:#ffffff;
    --destaque:rgb(0, 0, 0);
    --links:rgb(0, 0, 0);
}
.cabecalho{
    background-color: var(--cor-de-fundo);
}