.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{
    background-color: var(--cor-do-texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    align-items: center;
    display: flex;
}
.container-imagem{
    padding: 1em;
}